<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>About - Personal Portfolio</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link href="static/assets/img/P-Letter-Logo.jpg" rel="icon">
    <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="static/assets/css/main.css" rel="stylesheet">

</head>

<body class="about-page">

<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

        <a href="index.html" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <img src="static/assets/img/P-Letter-Logo.jpg" alt="">
            <h1 class="sitename">Portfolio</h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="{{ url_for("home") }}" >Home</a></li>
                <li><a href="{{ url_for("about") }}" class="active">About</a></li>
                <li><a href="{{ url_for("education") }}">Education</a></li>
                <li><a href="{{ url_for("projects") }}">Projects</a></li>
                <li><a href="{{ url_for("certifications") }}">Certifications</a></li>
                <li><a href="{{ url_for("contact") }}">Contact</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

    </div>
</header>

<main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
        <div class="heading">
            <div class="container">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-lg-8">
                        <h1>About</h1>
                        <p class="mb-0 font">
                            - Recent graduate with a Bachelor of Engineering in Computer Science & Engineering (Data
                            Science)<br>
                            - Honors degree in Artificial Intelligence and Machine Learning<br>
                            - Skilled in Python, SQL, HTML, CSS, Java, Machine Learning, NLP, and Data Visualization
                            (Tableau)<br>
                            - Experience as an IT Data Analyst/Backend Intern at Transvolt Mobility Pvt Ltd<br>
                            - Developed projects in crime prevention video surveillance, sign language conversion, and
                            spam detection using deep learning and machine learning<br>
                            - Winner of technical paper and project showcases (Oscillation'24, VNPS’24)<br>
                            - Leadership roles as Joint Secretary (E-Cell) and Creative Head (Students Council)<br>
                            - Passionate about solving real-world problems using AI and data science<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Page Title -->

    <!-- About Section -->
    <section id="about" class="about section">

        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="container section-title" data-aos="fade-up">
                <h2>Experience</h2>
                <div><span>My</span> <span class="description-title">Experience</span></div>
            </div>

            <div class="row gy-4 justify-content-center">
                <div class="col-lg-4">
                    <img src="static/assets/img/data-img.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-8 content">
                    <h2 style="margin-bottom: 25px; margin-top:50px">IT Data Analyst/Backend Intern</h2>
                    <div class="row">
                        <div class="col-lg-10">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i><span>Assisted in designing and implementing backend systems with a focus on data integration and API development.</span>
                                </li>
                                <li><i class="bi bi-chevron-right"></i><span>Supported performance optimization by monitoring and troubleshooting
                                database queries and system issues</span>
                                </li>
                                <li><i class="bi bi-chevron-right"></i><span>Gained hands-on experience with data modeling, SQL queries, and performance tuning, contributing to backend process improvements.</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /About Section -->

    <!-- Skills Section -->
    <section id="skills" class="skills section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Skills</h2>
            <div><span>My</span> <span class="description-title">Skills</span></div>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row skills-content skills-animation">

                <div class="col-lg-10">
                    <div class="d-flex flex-wrap gap-2 justify-content-left justify-content-md-center py-5 custom-badges">
                        <span class="badge">Python</span>
                        <span class="badge">Flask</span>
                        <span class="badge">WebDriver</span>
                        <span class="badge">Selenium</span>
                        <span class="badge">bs4</span>
                        <span class="badge">Django</span>
                        <span class="badge">REST framework</span>
                        <span class="badge">OOPS</span>
                        <span class="badge">HTML</span>
                        <span class="badge">CSS</span>
                        <span class="badge">Java</span>
                        <span class="badge">Data Visualization</span>
                        <span class="badge">MongoDb</span>
                        <span class="badge">SQL</span>
                        <span class="badge">NLP</span>
                        <span class="badge">Automation</span>
                        <span class="badge">Web Scrapping</span>
                        <span class="badge">Machine Learning</span>
                        <span class="badge">Statistical Data Analysis</span>
                    </div>
                </div>

            </div>
        </div>

    </section><!-- /Skills Section -->

    <!-- Interests Section -->
    <section id="interests" class="interests section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Research</h2>
            <div><span>PUBLICATION</span></div>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-4">
                <h6 style="line-height: 1.5;">Presented a paper titled <strong>"Smart Video Surveillance System for
                    Crime Prevention:
                    Using Deep Learning"</strong> at the 5th International Conference on Advances in
                    Information Communication Technology & Computing (AICTC-2024), South
                    Kazakhstan Pedagogical University, Shymkent, Republic of Kazakhstan.</h6>
            </div>

        </div>

    </section><!-- /Interests Section -->

</main>

{% include "footer.html" %}

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/assets/vendor/php-email-form/validate.js"></script>
<script src="static/assets/vendor/aos/aos.js"></script>
<script src="static/assets/vendor/typed.js/typed.umd.js"></script>
<script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="static/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="static/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

<!-- Main JS File -->
<script src="static/assets/js/main.js"></script>

</body>

</html>
